@import "../../style/variables.scss";

.app {
  &__banner {
    width: 100%;
    background-color: $dark;
    min-height: 100px;
    height: auto;
    display: grid;
    grid-template-columns: 152px 1fr 133px;
    justify-items: center;
    align-items: center;
    &-text {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      padding: 18px;
    }
  }
}
